services:
  mariadb:
    build: ./requirements/mariadb
    image: mariadb:custom
    container_name: mariadb
    networks: ["inception_network"]
    volumes: ["mariadb_volume:/var/lib/mysql"]
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    secrets:
      - MYSQL_USER
      - MYSQL_USER_PWD
      - MYSQL_ROOT_PWD
    healthcheck:
      test: ["CMD", "/usr/local/bin/healthcheck.sh"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
    restart: always
  wordpress:
    depends_on: 
      mariadb:
        condition: service_healthy
    build: ./requirements/wordpress
    image: wordpress:custom
    container_name: wordpress
    networks: ["inception_network"]
    volumes: ["wordpress_volume:/var/www/html"]
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PREFIX: ${MYSQL_PREFIX}
      WP_WEBSITE: ${WP_WEBSITE}
    secrets:
      - MYSQL_USER
      - MYSQL_USER_PWD
      - WP_ADMIN_USER
      - WP_ADMIN_PWD
      - WP_ADMIN_MAIL
      - WP_USER
      - WP_USER_PWD
      - WP_USER_ROLE
      - WP_USER_MAIL
    healthcheck:
      test: ["CMD", "/usr/local/bin/healthcheck.sh"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
    restart: always
  nginx:
    depends_on:
      wordpress:
        condition: service_healthy
    build: ./requirements/nginx
    image: nginx:custom
    container_name: nginx
    networks: ["inception_network"]
    volumes: ["wordpress_volume:/var/www/html"]
    ports: ["443:443"]
    restart: always

secrets:
  MYSQL_USER:
    file: ../secrets/db_user.txt
  MYSQL_USER_PWD:
    file: ../secrets/db_user_password.txt
  MYSQL_ROOT_PWD:
    file: ../secrets/db_root_password.txt
  WP_ADMIN_USER:
    file: ../secrets/wp_admin_user.txt
  WP_ADMIN_PWD:
    file: ../secrets/wp_admin_password.txt
  WP_ADMIN_MAIL:
    file: ../secrets/wp_admin_mail.txt
  WP_USER:
    file: ../secrets/wp_user.txt
  WP_USER_PWD:
    file: ../secrets/wp_user_password.txt
  WP_USER_ROLE:
    file: ../secrets/wp_user_role.txt
  WP_USER_MAIL:
    file: ../secrets/wp_user_mail.txt

volumes: 
  mariadb_volume:
    name: mariadb_volume
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: ${MYSQL_VOLUME_PATH}
  wordpress_volume:
    name: wordpress_volume
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: ${WP_VOLUME_PATH}

networks:
  inception_network:
    name: inception_network