DOMAIN_NAME=YOURDOMAIN.42.FR

# MARIADB SETUP
MYSQL_DATABASE=DATABASE_NAME
MYSQL_HOST=mariadb
MYSQL_PREFIX=DATABASE_TABLE_PREFIX
MYSQL_VOLUME_PATH=/home/YOURUSERNAME/data/mariadb_volume

# WORDPRESS SETUP
WP_WEBSITE=WEBSITE_NAME
WP_VOLUME_PATH=/home/YOURUSERNAME/data/wordpress_volume
